
 @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
 @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


.App {
  height: 100vh;
  /* min-height : 100vh; */
  margin: 0;
  font-family: "Open Sans Hebrew";
  direction: rtl;
  background: #edf1f5;
  display: flex;
  justify-content: space-between;
 
}


