
 @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
 @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


.App {
  height: 100vh;
  /* min-height : 101vh; */
  margin: 0;
  font-family: "Open Sans Hebrew";
  direction: rtl;
  background: #edf1f5;
  display: flex;
  justify-content: space-between;
 
}

.row{
  animation: meals-appear 1s ease-out forwards;
}



@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(9rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
